# Noma-Travel installs. `pes` still uses a local path until `Noma-Travel/pes` exists.
# Usage: pip install -r requirements-noma-travel.txt

git+https://github.com/Noma-Travel/renglo-lib.git@main_noma#egg=renglo-lib
git+https://github.com/Noma-Travel/renglo-api.git@main#egg=renglo-api
git+https://github.com/Noma-Travel/backend.git@main#egg=noma-mod&subdirectory=package
../extensions/pes/package
git+https://github.com/Noma-Travel/pes_noma.git@main#egg=pes-noma-mod&subdirectory=package
